$mobile: "only screen and (max-width: 767px)";
$tablet: "only screen and (min-width: 768px) and (max-width: 1024px)";

.cursor-fx__inner{
  z-index: 9999;
}



/* VARIABLE */
$base-color: #c6538c;
$gris: #DEDEDE;
$amplada_maxima: 1540px;
$contingut: 1170px;

@mixin grid-col {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-column-gap: 30px;
  max-width: 1084px;
  padding: 0 30px;
  margin: 0 auto;
  position: relative;

  @media #{$mobile} {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
  }

}

@mixin seccio{
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  /* identical to box height, or 21px */
  letter-spacing: -0.01em;
  color: #454545;
  text-transform: uppercase;
  margin-bottom: 1em;

  
}

@mixin seccio_link{
  font-family: HK Grotesk;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 115%;
  /* identical to box height, or 21px */
  letter-spacing: -0.01em;
  text-decoration-line: underline;
  text-transform: uppercase;
  margin-bottom: 1em;
  color: #454545;
  background: url(../image/svg/arrow-negre.svg) no-repeat;
  padding-left:30px;
  background-position: 0 3px;

}




h1,h2,h3,h4,h5{
  margin-top: 0;
  margin-bottom:0
}

h2{
  font-family: 'Amiri';
  font-style: normal;
  font-weight: normal;
  line-height: 115%;
  /* or 80px */
  letter-spacing: -0.02em;
  margin-bottom: .5em;
  font-size: 4.35em;

  @media #{$mobile} {
    font-size: 32px;
  }




}


p{
  font-family: "HK Grotesk";
  font-size:19px;
  line-height: 150%;
}



/*MEDIA QUERYS*/

/* MIXINS */



/*

@media #{$tablet} {
        margin-bottom: 50px;
      }


*/
